<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User page</title>
    <link href="styles/styles.css" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
</head>
<body>
<div class="media">
    <img th:src="@{'/images/' + ${user.getUsername()} + '.jpg'}" class="mr-3" th:width="70px" th:height="70px">
    <div class="media-body">
        <h5 class="mt-0" th:text="${user.getUsername()}"></h5>
    </div>
</div>
<div style="width: 500px;">
    <p class="breadcrumb" th:text="'User id is: ' + ${user.getId()}"></p>
    <p class="breadcrumb" th:text="'User name is: ' + ${user.getUsername()}"></p>
    <p class="breadcrumb" th:text="'User salary is: ' + ${user.getSalary()}"></p>
</div>
<div class="breadcrumb" style="width: 500px;">
    <h2 th:text="${user.getUsername()} + '\'s pets: '"></h2>
</div>
<ul class="list-group list-group-flush" style="width: 500px;">
    <li class="list-group-item" th:object="${user.ge}" th:each="pet : ${user.getPets()}" th:text="${pet.getNickName()}">pet name</li>
</ul>
<a class="btn btn-primary" th:href="@{/users/{id}/edit(id=${user.getId()})}" role="button">Edit user</a>

<!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
    DELETE
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want delete this user?
            </div>
            <div class="modal-footer">
                <div>
                    <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" value="Delete" class="btn btn-dark"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>